/Maven__joda_time_joda_time_2_9_1.xml
/Maven__junit_junit_4_12.xml
/Maven__org_apache_commons_commons_lang3_3_4.xml
/Maven__org_hamcrest_hamcrest_core_1_3.xml
/Maven__org_simpleframework_simple_xml_2_7_1.xml
/Maven__stax_stax_1_2_0.xml
/Maven__stax_stax_api_1_0_1.xml
/Maven__xpp3_xpp3_1_1_3_3.xml
